<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" -->
<!--" http://www.springframework.org/dtd/spring-beans.dtd"> -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<!-- sessionfactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>
	<bean id="sessionFactorySale"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:hibernatesale.cfg.xml</value>
		</property>
	</bean>
	<!-- 事务 -->
	<bean id="myHibTxManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:advice id="txAdvice" transaction-manager="myHibTxManager">
		<tx:attributes>
			<!-- 对get/load/search开头的方法要求只读事务 -->
			<tx:method name="get*" propagation="SUPPORTS"
				read-only="true" />
			<tx:method name="load*" propagation="SUPPORTS"
				read-only="true" />
			<tx:method name="search*" propagation="SUPPORTS"
				read-only="true" />
			<!-- 对其它方法要求事务 -->
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<!-- 
			只对GoodsBiz添加事务支持，因为前面配置的transactionManager
			是专对Hibernate的事务管理器 。
		-->
		<aop:pointcut id="serviceMethods"
			expression="execution(* com.team3.biz.*.*(..))" />
		<!-- 织入 -->
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="serviceMethods" />
	</aop:config>
	<!-- 1. DAO -->
	<bean id="commonDAO"
		class="com.common.dao.hibimpl.CommonDAOHibImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="commonDAOSale"
		class="com.common.dao.hibimpl.CommonDAOHibSaleImpl">
		<property name="sessionFactory">
			<ref local="sessionFactorySale" />
		</property>
	</bean>
	<!-- 2. BIZ -->
	<bean id="salChanceBiz" class="com.team3.biz.SalChanceBiz">
		<property name="commonDAO">
			<ref local="commonDAO" />
		</property>
	</bean>
	<bean id="planBiz" class="com.team3.biz.planBiz">
		<property name="commonDAO">
			<ref local="commonDAO" />
		</property>
	</bean>
	<bean id="userBiz" class="com.team3.biz.UserBiz">
		<property name="commonDAO">
			<ref local="commonDAO" />
		</property>
	</bean>
	<bean id="roleBiz" class="com.team3.biz.RoleBiz">
		<property name="commonDAO">
			<ref local="commonDAO" />
		</property>
	</bean>
	<bean id="dictBiz" class="com.team3.biz.DictBiz">
		<property name="commonDAO">
			<ref local="commonDAO" />
		</property>
	</bean>
	<bean id="contrRptBiz" class="com.team3.biz.ContrRptBiz">
		<property name="commonDAO">
			<ref local="commonDAO" />
		</property>
	</bean>
	<bean id="customerBiz" class="com.team3.biz.CstCustomerBiz">
		<property name="commonDAO">
			<ref local="commonDAO" />
		</property>
	</bean>
	<bean id="serviceBiz" class="com.team3.biz.CstServiceBiz">
		<property name="commonDAO">
			<ref local="commonDAO" />
		</property>
	</bean>
	<bean id="lostBiz" class="com.team3.biz.CstLostBiz">
		<property name="commonDAO">
			<ref local="commonDAO" />
		</property>
	</bean>
	<bean id="ordersBiz" class="com.team3.biz.OrdersBiz">
		<property name="commonDAO">
			<ref local="commonDAOSale" />
		</property>
	</bean>
	<bean id="productBiz" class="com.team3.biz.ProductBiz">
		<property name="commonDAO">
			<ref local="commonDAOSale" />
		</property>
	</bean>
	<bean id="storageBiz" class="com.team3.biz.StorageBiz">
		<property name="commonDAO">
			<ref local="commonDAOSale" />
		</property>
	</bean>
	<!-- 3. Action -->
	<bean name="/chance"
		class="com.team3.web.action.SalChanceBizAction">
		<property name="salChanceBiz">
			<ref bean="salChanceBiz" />
		</property>
		<property name="userBiz">
			<ref bean="userBiz" />
		</property>
	</bean>
	<bean name="/plan" class="com.team3.web.action.planAction">
		<property name="planBiz">
			<ref bean="planBiz" />
		</property>
	</bean>
	<bean name="/user" class="com.team3.web.action.UserAction">
		<property name="userBiz">
			<ref bean="userBiz" />
		</property>
		<property name="roleBiz">
			<ref bean="roleBiz" />
		</property>
	</bean>
	<bean name="/role" class="com.team3.web.action.RoleAction">
		<property name="roleBiz">
			<ref bean="roleBiz" />
		</property>
	</bean>
	<bean name="/login" class="com.team3.web.action.LoginAction">
		<property name="userBiz">
			<ref bean="userBiz" />
		</property>
	</bean>
	<bean name="/dict" class="com.team3.web.action.DictAction">
		<property name="dictBiz">
			<ref bean="dictBiz" />
		</property>
	</bean>
	<bean name="/product" class="com.team3.web.action.ProductAction">
		<property name="productBiz">
			<ref bean="productBiz" />
		</property>
	</bean>
	<bean name="/storage" class="com.team3.web.action.StorageAction">
		<property name="storageBiz">
			<ref bean="storageBiz" />
		</property>
	</bean>
	<bean name="/customer" class="com.team3.web.action.CustomerAction">
		<property name="customerBiz">
			<ref bean="customerBiz" />
		</property>
		<property name="userbiz">
			<ref bean="userBiz" />
		</property>
		<property name="dictBiz">
			<ref bean="dictBiz" />
		</property>
	</bean>
	<bean name="/contrRpt" class="com.team3.web.action.ContrAction">
		<property name="contrBiz">
			<ref bean="contrRptBiz" />
		</property>
		<property name="orderBiz">
			<ref bean="ordersBiz" />
		</property>
	</bean>
	<bean name="/consRpt" class="com.team3.web.action.ConsAction">
		<property name="customerBiz">
			<ref bean="customerBiz" />
		</property>
	</bean>
	<bean name="/svrRpt" class="com.team3.web.action.SvrAction">
		<property name="serviceBiz">
			<ref bean="serviceBiz" />
		</property>
	</bean>
	<bean name="/lostRpt" class="com.team3.web.action.LostRptAction">
		<property name="lostBiz">
			<ref bean="lostBiz" />
		</property>
	</bean>
	<bean name="/service" class="com.team3.web.action.ScrviceAction">
		<property name="serviceBiz">
			<ref bean="serviceBiz" />
		</property>
		<property name="userBiz">
			<ref bean="userBiz" />
		</property>
		<property name="customerBiz">
			<ref bean="customerBiz"/>
		</property>
	</bean>
</beans>